.seconds{
    background-color: #1a1a1a;
    border: 1px solid rgba (255, 255, 255, 0.5);
    border-radius: 8px;
    padding: 10px 18px;
    margin: 0 4px;
    min-width: 60px;
    text-align: center;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.5);
}

.counter-image {
    background-color: #1a1a2e;
    border: 1px solid rgba (255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 10px 18px;
    margin: 0 4px;
    display: flex;
    align-items: center;
    box-shadow: inset 0 2px 6px (0, 0, 0, 0.5);

}
